<header class="site-header">
    <div class="nav-container">
      <div class="logo">SPR</div>
      <nav>
        <a href="/">Home</a>
        <a href="/sections/us.html">U.S.</a>
        <a href="/sections/world.html">World</a>
        <a href="/sections/local.html">Local</a>
        <a href="/sections/magazine.html">Magazine</a>
        <a href="/sections/staff.html">Staff</a>
        <a href="/meta/2025/08/09/welcome.html">About</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeISEb1oc7hlNe3gAETa65dcbJyMYdmduTLtFQCl7mWTjFT9A/viewform?usp=dialog" class="submit-link">Submit</a>
      </nav>
    </div>
  </header>
  