---
layout: default
title: "local"
---

<section class="articles-grid">
    {% assign filter_tag = "local" %}
    {% for post in site.posts %}
      {% if post.tags contains filter_tag %}
        <article>
          {% if post.image %}
            <img src="{{ post.image | relative_url }}" alt="">
          {% endif %}
          <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          <p class="meta">{{ post.date | date: "%m.%d.%Y" }}{% if post.author %} - By {{ post.author }}{% endif %}</p>
          {% if post.excerpt %}
            <p>{{ post.excerpt }}</p>
          {% endif %}
        </article>
      {% endif %}
    {% endfor %}
  </section>