<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="google-site-verification" content="ij3RctHVLzlQsquJjUYGvz4Cz9XEWjawwRTRQFNPx2E" />
  <meta charset="UTF-8">
  <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
  </main>
</body>
</html>
